extends layout.pug

append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/index.css")
  //- add page specific js
  script(src="/javascripts/index.js" type="module" defer)

block content
  h1= title
  div.trendingBox
    a(href=`/games/${game1.id}`)
      img(src=`${game1.imageSrc}`)
    a(href=`/games/${game2.id}`)
      img(src=`${game2.imageSrc}`)
    a(href=`/games/${game3.id}`)
      img(src=`${game3.imageSrc}`)
  div.genreBox
    each genre in genres
      div
        a(href=`/genres/${genre.id}`) #{genre.genreName}
