extends layout.pug

append head
  title GoodGames
  link(rel="stylesheet" href="/stylesheets/index.css")
  script(src="/javascripts/index.js" type="module" defer)

block content
  div.home-banner
    h1.landingWelcome GoodGames
    img#subLogo2(src="/logo.png")
  h2.trend Trending Games
  div.trendingBox
    .gameThumbnail
      a.trending-game(href=`/games/${game1.id}/reviews`)
        img(src=`${game1.imageSrc}` class="gameThumbnail")
    .gameThumbnail
      a.trending-game(href=`/games/${game2.id}/reviews` class="gameThumbnail")
        img(src=`${game2.imageSrc}` class="gameThumbnail")
    .gameThumbnail
      a.trending-game(href=`/games/${game3.id}/reviews` class="gameThumbnail")
        img(src=`${game3.imageSrc}` class="gameThumbnail")
  div.genreBox
    h2.genreHomeTitle Genres
    each genre in genres
      div
        a(href=`/genres/${genre.id}` class="genre-hover") #{genre.genreName}
  div.aboutLinksContainer
    h2.aboutLinksTitle GoodGames was a collaboration by:
    div.aboutLinksAnthony
    div.aboutLinksTony
    div.aboutLinksWilson 
