mixin field(labelText, fieldName, fieldValue, fieldType='text')
  div(class='form-group')
    label.form-label(for=fieldName)= labelText
    input(type=fieldType id=fieldName name=fieldName value=fieldValue class='form-control')

mixin errorReport(errors)
  if errors
    .login-errors
      p Login Failed! Sorry, cheat codes don't work here.
      ul
        each error in errors
          li= error
